fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic[email]==2.7.1
pydantic-settings==2.2.1
sqlalchemy[asyncio]==2.0.30
asyncpg==0.30.0
alembic==1.13.1
gunicorn==23.0.0
aiosmtplib==3.0.2
taskiq==0.11.11
taskiq-aio-pika==0.4.1
jinja2==3.1.5
orjson==3.10.18
python-dotenv~=1.1.0
aiohttp==3.12.13
